
<div class="menu-nav">
	<div id="cssmenu">

		<nav class="navbar navbar-default">

			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Java Home Technologies</a>
				</div>

				<ul class="nav navbar-nav">
					<li><a href="#home">Home</a></li>
					<li><a href="#register">Register</a></li>
					<li><a href="#login">Login</a></li>
					<li><a href="#enquiry">Course Enquiry</a></li>
					<li><a href="#students" ng-click="getAllStudents();">Students</a></li>
				</ul>
			</div>
		</nav>

	</div>
</div>
